{% extends "layout.html" %}
{% block title %}Add New Category{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
    <h2>Add New Category</h2></br>

    {% with success = get_flashed_messages(category_filter=["success"]) %}
    {% if success %}
    <ul>
        {% for message in success %}
        <li class="success">{{ message }} </li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}   
    

    {% with messages = get_flashed_messages(category_filter=["error"]) %}

        {% if messages %}
    
        <ul>
            {% for message in messages %}
            <li class="flash-message">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith%}

    <form action="{{ url_for('add_category') }}" method="POST">
        <label for="">Category Name:</label>
        <input type="text" name="name" size="50">
        <input type="submit" value="Add">
    </form></br>
    <a href="{{ url_for('home') }}">Cancel</a>
    
{% endblock %}