{% extends "layout.html" %}
{% block title %}{{ category }} - Add New Item{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}

    <h1>Add New Item</h1>

    {% with success = get_flashed_messages(category_filter=["success"]) %}
    {% if success %}
    <ul>
        {% for message in success %}
        <li class="success">{{ message }} </li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}   


    {% with messages = get_flashed_messages(category_filter=["error"]) %}

    {% if messages %}

    <ul>
        {% for message in messages %}
        <li class="flash-message">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith%}

    <form action="{{ url_for('add_item') }}" method="POST">
            <label for="">Name</label></br>
            <input type="text" size="50" name="name" placeholder="New Item"></br></br>
            <label for="">Category</label></br>
            <select name="category">
                    {% for category in categories %}
                        <option value="{{category.name}}">{{category.name}}</option>
                    {% endfor %}
                </select></br></br>
               <label for="">Description</label></br>
            <input type="text" size="100" name="description" placeholder="Description"></br></br>
            <input type="submit" value="Add Item">

    </form>

    <a href="{{ url_for('home') }}">Cancel</a>
    
    {% endblock%}