{% extends "layout.html" %}
{% block title %}Edit {{ item.name }}{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}

    <h1>Edit {{ item.name }}</h1>

    <form action="{{ url_for('edit_item', category_id = category_id, item_id=item_id) }}" method="POST">
        <label for="">Name</label></br>
            <input type="text" size="50" name="name" value="{{ item.name }}"></br></br>
            <label for="">Category</label></br>
            <select name="category">
                    {% for category in categories %}
                        <option value="{{category.name}}">{{category.name}}</option>
                    {% endfor %}
                </select></br></br>
               <label for="">Description</label></br>
            <input type="text" size="100" name="description" value="{{ item.description }}"></br></br>
            <input type="submit" value="Edit Item">
    </form>
    
    <a href="{{ url_for('item', category_id = category_id, item_id = item_id) }}">Cancel</a>
    
{% endblock %}