{% extends "layout.html" %}
{% block title %}Edit {{ category.name }}{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}

    <h1>Edit {{ category.name }}</h1><br>

    <form action="{{ url_for('edit_category', category_id = category_id) }}" method="POST">
        <label for="">Category Name:</label>
        <input type="text" name="name" value="{{ category.name }}">
        <input type="submit" value="Amend" >
    </form></br>
    <a href="{{ url_for('item_list', category_id = category.id) }}">Cancel</a>
    
{% endblock %}