<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ item }}</title>
</head>
<body>
    <h1><a href="{{ url_for('home') }}">Item Catalogue</a></h1>

    {% with messages = get_flashed_messages() %}

        {% if messages %}

        <ul>
            {% for message in messages %}
            <li><strong>{{ message }}</strong></li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith%}

        

    <h2>{{ category.name }}: {{ item.name }} </h2>
    <h5>Owner: {{ owner.name }}</h5>

    <p>{{ item.description }}</p>

    <a href="{{ url_for('edit_item', category_id = item.category.id, item_id=item_id) }}">Edit</a></br>
    <a href="{{ url_for('delete_item', category_id = category_id, item_id = item.id) }}">Delete Item</a>
    <a href="{{ url_for('item_list', category_id = item.category.id) }}">Return</a>
    
</body>
</html>